@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import "global/normalize.scss";
@import "global/variables.scss";
@import "global/global.scss";
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/intro.scss";
@import "blocks/features.scss";
@import "blocks/effect.scss";