// viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

// colors
$basic-headers: #283645;
$basic-bg-gray: #F2F2F2;
$basic-bg-white: #fff;

$headers-text: #fff;
$basic-content-text: #283645;
$fetures-title-text: #000;
$contacts-text: #D22856;

$toggle-active: rgba(210, 40, 86, 0.3);